footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                ul.navbar-nav.col-12.text-center
                    li.nav-item.col-3
                        a.nav-link(aria-current='page' href='#/lineaBlanca') Linea Blanca
                    li.nav-item.col-3
                        a.nav-link(href='#/ropa') Ropa
                    li.nav-item.col-3
                        a.nav-link(href='#/juguetes' tabindex='-1' aria-disabled='true') Juguetes
                    li.nav-item.col-3
                        a#dropdown08.nav-link(href='#/computo') Computo
        .col
            p.copyright.text-center.text-md-right
                | Todos los Derechos Reservados
                span=actualYear 